.navbar{
    margin-bottom: 0px !important; 
    position: fixed !important;
     z-index: 1000;
}
.container{
  /*
    width:100% !important;
    */
}

.navbar-default {
    background-color: #181818 !important;
    border-color:black !important;
}
body{
        background-color:#CCD6DD !important;
        padding-top:100px;
        
        background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/circles-and-roundabouts.png');
        
        background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/sayagata-400px.png')
        /*
        background-color:url('https://electroaita.com/images_texturas/amarillo.jpg');
        background-position: 0% 0%;
        	background-attachment: fixed;
background-size:     cover;    
*/
    
}

