#CategoryHeader{
    background-color:white;
    color:black;

}





#container{
    /*
    background-color: rgba(200, 200, 100, 0.3);
    */
    
    /*
    background-color:#E1E8ED;
    
    */
    
}

/*
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/








#filterBar{
    border-top: 6px solid #292F33;
    background-color:white;
    
}






























