#admin .productWrapper {

}
#admin .productWrapper .eachProductWrapper{
    
    padding:10px;
        height:300px;
    border:1px solid black;
    padding:5px;
    overflow-x:none;
    overflow-y:scroll;
    
    background-color:white;
}

body #wrapper{
    top:0px;
}

.productStatistic {
    
    border:1px solid black;
}

#ProductStatisticcontainer{
    margin:20px;
}



.productStatistic {
    text-align:center;
  
}

  #trigram{
        height:100px;
    }
    

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #2A3F54;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }
    
    .sidenav .belowClose a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 12px;
        color: white;
        display: block;
        transition: 0.3s;
    }
    
    .sidenav .belowClose a:hover, .offcanvas a:focus{
        color: #f1f1f1;
        background-color:red;
        text-decoration:none;
    }
    
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
    
    #main {
        transition: margin-left .5s;
        padding: 16px;
    }
    
    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }
    
    
    #closeButton{
        height:50px;
        border-bottom:1px solid blue;
    }
    
    .separator{
        border:1px solid black;
        background-color:#3B4F65;
        color:#ccc;
        padding-left:10px;
        padding-top:10px;
        padding-bottom:10px;
        margin-bottom:10px;
    }