@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

.mega-dropdown .dropdown-toggle{
    float:left;
    background-color:white;
 /*   border:1px solid black;*/
    padding:5px;
    
}

.navbar-nav>li{
  padding-left:20px;
  padding-right:20px;
  font-size:1vw;
}

.navbar-nav>li a:not(.subCategoriesMenuLink){
  
  color:white;
}
.navbar-brand > img{
  display: block;
position: relative;
top: -15px;
}
.navbar-nav>li>.dropdown-menu {
  margin-top: 20px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.navbar-toogle{
    background-color:black;
    border:1px solid black;
    
}
.icon-bar{
    background-color:black;
    
}
.navbar-default .navbar-nav>li>a {
  width: 200px;
  font-weight: bold;
}

.mega-dropdown {
  position: static !important;
  width: 100%;
}

.mega-dropdown-menu {
  padding: 20px 0px;
  width: 100%;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.mega-dropdown-menu:before {
  content: "";
  border-bottom: 15px solid #fff;
  border-right: 17px solid transparent;
  border-left: 17px solid transparent;
  position: absolute;
  top: -15px;
  left: 285px;
  z-index: 10;
}

.mega-dropdown-menu:after {
  content: "";
  border-bottom: 17px solid #ccc;
  border-right: 19px solid transparent;
  border-left: 19px solid transparent;
  position: absolute;
  top: -17px;
  left: 283px;
  z-index: 8;
}

.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}

.mega-dropdown-menu > li > ul > li {
  list-style: none;
}

.mega-dropdown-menu > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #999;
  white-space: normal;
}
.item{
  color:black;
}
.item .stock{
  text-align:right;
  width:40%;
    float:right;
}
.item .price{
  text-align:left;
  width:40%;
  
}
.mega-dropdown-menu > li ul > li > a:hover ,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  color: black;
  border:0px;
  background-color:white !important;
  
  
}


.mega-dropdown-menu .dropdown-header {
  color: #428bca;
  font-size: 18px;
  font-weight: bold;
  margin-bottom:10px;
}

.mega-dropdown-menu form {
  margin: 3px 20px;
}

.mega-dropdown-menu .form-group {

}



 /* highlight col-* */
 /*
.row [class*='col-'] {
  text-align: center;
  background-color: #cceeee !important;
  background-clip: content-box;
  min-height: 150px;
  margin-bottom: 15px;
  color:black !important;
}

*/

.subCategoriesMenuLink a {
  color:#ccc !important;
}


.categoriesMenu .individualMenuCategory{
  padding:10px;
  //border-bottom:1px solid #ccc;
}

/*
.categoriesMenu .individualMenuCategory:before {
  content : "";
  position: absolute;
  left    : 0;
  bottom  : 0;
  height  : 1px;
  width   : 50%;  /* or 100px */
  border-bottom:1px solid grey;
}
*/

.subCategoriesMenu{
  color:red !important; 
  border:100px solid black;
}
.dropdown-header{
  padding-left:0px;
}
.subCategoriesMenu a {
    color: grey !important;
    padding-left:10px;
}


body .dropdown-header, .dropdown-menu > li > a{
  padding:0px ;
}



/*
  For later products     
*/


ul.dropdown-cart{
    min-width:250px;
}
ul.dropdown-cart li .item{
    display:block;
    padding:3px 10px;
    margin: 3px 0;
}
ul.dropdown-cart li .item:hover{
    background-color:#f3f3f3;
}
ul.dropdown-cart li .item{
    background-color:#f3f3f3;
}

.dropdown-toggle{
  display:block;
  
    background-color:#f3f3f3;
}
ul.dropdown-cart li .item:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


#savedProducts{padding-top: 30px;
  display:block !important;
  
}
#savedProducts a{
  color:black;
  
}






ul.dropdown-cart li .item-left{
    float:left;
}
ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info{
    float:left;
}
ul.dropdown-cart li .item-left span.item-info{
    margin-left:10px;   
}
ul.dropdown-cart li .item-left span.item-info span{
    display:block;
}
ul.dropdown-cart li .item-right{
    float:right;
}
ul.dropdown-cart li .item-right button{
    margin-top:14px;
}

