
.header {
    position: fixed;
    float: left;
    z-index: 99999;
    top: 0;
    width: 100%;
    background: #fff;

        -webkit-box-shadow: 0px 4px 2px 5px rgba(0,0,0,0.09);
        -moz-box-shadow: 0px 4px 2px 5px rgba(0,0,0,0.09);
        box-shadow: 0px 4px 2px 5px rgba(0,0,0,0.09);
        /*
        border-left:5px solid #E6AF2E;
        border-radius: 50px 0px 0px 0px;
    */
    border-bottom:1px solid black;
    
    
    

}
.header, .menu {
 /*  
 border-bottom: 1px solid #d7d7d7;
 */
}
.header, cite, table {
    display: block;
}
.logo{
    /*
    margin-left:50px;
    */
    /*
    width:250px;
    */
    float:left;
}

#searchArea{
    float:left;
    height:100px;
    font-family: "Lucida Console", Monaco, monospace;
    /*
    border:1px solid black;
    */
    padding-top:30px;
}

#auth li{
        list-style:none;
        float:right;
        padding-right:10px;
}

.logo img{
    
    height:100%;
    position:absolute;
}

#logoContainer{
    /*
    float:left;
   
    width:30%;
    */
    min-width: 350px;
}

#logoContainer img{
    opacity:.7;
}
#userLoginBox{
    float:right;
    width:50%;
    height:100px;
  /*  border:1px solid black;*/
  padding-top:30px;
}
#searchAnduser{
    width:65%;
    height:100px;
    float:right;
    
}

#buscador{
    display:block;
}

#buscador input{
    border-radius:22px;
}


#header{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+50,e1e1e1+51,f6f6f6+100;White+Gloss+%231 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */

}

#header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 5px;
    background-color: #E6AF2E;
    -webkit-transition: width .2s ease-in;
    -moz-transition: width .2s ease-in;
    -ms-transition: width .2s ease-in;
    transition: width .2s ease-in;
}
