#CategoryHeader{
    background-color:white;
    color:black;
    font-size:26px;
    text-align:left;
    padding:12px 0px 12px 20px;
    margin-left:10px;
    margin-right:10px;
    
}

/*#CategoryHeader, #filterBar .filterHeader{*/
.product{

      font-family: 'Open Sans', 'arial', sans-serif;
    margin-bottom:20px;
        
}
.product a:link, .product a:hover {

    text-decoration:none;
}

.checkbox:hover{
    background-color:#eee;
}

#container{
    /*
    background-color: rgba(200, 200, 100, 0.3);
*/
}

/*
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/




.menuLinks{
    
    width:100%;
    display:table;
    
    
}
.menuLinks > li{
    
    float:left;
}

.dropdown-menu {
    width:100%;
    
}

.navbar-header{
    
}
#filterBar{
    /*
    border-top: 6px solid #292F33;
    */
    
}
    .product:hover{
        
        -webkit-box-shadow: 0px 4px 8px 8px rgba(0,0,0,0.30);
        -moz-box-shadow: 0px 4px 8px 8px rgba(0,0,0,0.30);
        box-shadow: 0px 4px 8px 8px rgba(0,0,0,0.30);



    }




#TopHeader{
    display:block;
    height:106px;
    width:100%;
}

#BotHeader{
    
    display:block;
    height:30px;
    width:100%;
    font-size:14px !important;
    background-color:white;
/*    margin-top:10px;    */

    
    
    color:white;
    
}

#botHeader .dropdown-toggle{
    background-color:transparent; 
}



.dropdown-menu {
    margin-top:20px !important;
}

.stock-bar, .filterHeader , #BotHeader{
    background-color:#547499 !important;
    
    
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f8f9+0,547499+50,547499+73,5d7999+100 */
        background: rgb(246,248,249); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(246,248,249,1) 0%, rgba(84,116,153,1) 50%, rgba(84,116,153,1) 73%, rgba(93,121,153,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(84,116,153,1) 50%,rgba(84,116,153,1) 73%,rgba(93,121,153,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(246,248,249,1) 0%,rgba(84,116,153,1) 50%,rgba(84,116,153,1) 73%,rgba(93,121,153,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#5d7999',GradientType=0 ); /* IE6-9 */
            
    
    
}




body{
    background-color:#eee !important;
}



#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #90AFC5; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    width: 45px;
height:45px;
text-align:center;
font-size:20px;
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}







.navbar-nav {
    display:table !important;
    margin: 0 !important;
}
.navbar-nav > li {
    float:none !important;
    display:table-cell !important;
    text-align:center !important;
}
/*
#################################################
*/



/*
//##############################################
// When scrolled change header : .scrolled-nav 

.scrolled-nav img{
    width:125px;
    height:50px;
}
.scrolled-nav #TopHeader{
    height:50px;
}

.scrolled-nav {
    height:75px !important;
    border-top:2px solid blue;
}




.scrolled-nav #BotHeader{
    margin:0px;
    
}

.scrolled-nav .dropdown-menu{
    margin-top:30px !important;
}

*/

.typeGrid .priceAndStock{
    display:table;
    height:20px;
    width:100%;
}

.typeGrid .precioProducto{
    
    float:left;
    width:70%;
    font-size: 1.2vw;
    padding-left:20px;
    position:relative;
}

.typeGrid .progress{
    float:left;
    width:30%;
    margin-top:7px;
    left: -10px;
    position:relative;
}
.productWrapper {
    padding:10px !important;
}
.typeGrid .product:hover{
    
  
text-decoration:none !important;
}
 .product a:hover{
    
text-decoration:none !important;
}


#wrapper{
    
}